<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="static/styles.css"/>
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>

<body>

<header>
    <section class="nav">

        <div class="logo">

        </div>


        <input id="menu-toggle" type="checkbox"/>
        <label class="menu-button-container" for="menu-toggle">
            <div class="menu-button"></div>
        </label>

        <ul class="menu">
            <li><a href="/" class="hh"><i></i>HOME </a></li>
            <li><a href="/jobs">
                <button class="btn">APPLY NOW</button>
            </a></li>

        </ul>
    </section>
</header>


<section class="home" id="home ">
    <div class="content">

        <h3 class="mainfont">
            The Smart <span class="yellowColor">Resume</span> Analyser
        </h3>
        <h3>
            fastest way to <span class="yellowColor">Rate your Resume </span> instantly

        </h3>


        <!-- CTA -->

    </div>


    <div class="image">
        <img class="img1"
             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScorPd48f-jKUoyHNqeSnnasUAuvPhKdcVVA&usqp=CAU"
             alt=" "/>
    </div>
</section>

<!-- hero section ends   -->
</body>

</html>
