<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="static/styles.css"/>
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>

<body>

<header>
    <section class="nav">

        <div class="logo">

        </div>


        <input id="menu-toggle" type="checkbox"/>
        <label class="menu-button-container" for="menu-toggle">
            <div class="menu-button"></div>
        </label>

        <ul class="menu">
            <li><a href="/" class="hh"><i></i>HOME </a></li>
        </ul>
    </section>
</header>


<div id="high" class="faculty-bck">
    <p class="faculty-sec">AVAILABLE JOBS</p>
    <div class="fac_card">
        <img class="job-img"
             src="https://www.shutterstock.com/shutterstock/photos/1657618537/display_1500/stock-vector-brain-connection-logo-design-digital-brain-logo-template-1657618537.jpg"/>
        <h3>SDE JAVA DEVELOPER IBM</h3>
        <p class="faculty-txt">BANGALORE</p>
        <p class="faculty-txt">FULL TIME</p>
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <p><a href="/form?jobtitle=javadev">
            <button>Apply Now</button>
        </a></p>
    </div>
    <div class="fac_card">
        <img class="job-img"
             src="https://www.shutterstock.com/shutterstock/photos/1657618537/display_1500/stock-vector-brain-connection-logo-design-digital-brain-logo-template-1657618537.jpg"/>
        <h3>SDE ML ENGINEER ADOBE</h3>
        <p class="faculty-txt">HYDERABAD</p>
        <p class="faculty-txt">FULL TIME</p>
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <p><a href="/form?jobtitle=mleng">
            <button>Apply Now</button>
        </a></p>
    </div>
    <div class="fac_card">
        <img class="job-img"
             src="https://www.shutterstock.com/shutterstock/photos/1657618537/display_1500/stock-vector-brain-connection-logo-design-digital-brain-logo-template-1657618537.jpg"/>
        <h3>SALESFORCE DEVELOPER GOOGLE</h3>
        <p class="faculty-txt">DELHI</p>
        <p class="faculty-txt">FULL TIME</p>
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <p><a href="/form?jobtitle=sales">
            <button>Apply Now</button>
        </a></p>
    </div>
</div>


<!-- hero section ends   -->
</body>

</html>
